<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Solutions</title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/services/web/resources/css/forms.css">
	<script src="/services/web/resources/themes/theme.js"></script>

</head>
<body style="margin-left: 20px">
	<div id="wrap" ng-controller="ManageController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">Solutions</h1>
			</div>
		</div>
		<div class="container">
			<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
			<div class="alert alert-success alert-dismissible" ng-show="successMessage">{{successMessage}}</div>
			<!-- entities table -->
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Date</th>
						<th>Area</th>
						<th>Teams</th>
						<th>Financials</th>
					</tr>
				</thead>
				<tbody>
					<tr class="selected-{{entry._selected_}}" ng-repeat="entry in data"
						ng-click="showInfoForEntry(entry)">
						<td nowrap><i class="fa fa-industry"></i> {{entry.sol_name}}</td>
						<td>{{entry.sol_description}}</td>
						<td>{{entry.sol_date | date:format}}</td>
						<td>{{entry.sol_area}}</td>
						<td>{{entry.sol_teams}}</td>
						<td>{{entry.sol_financials}}</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div>View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>10</option><option>20</option><option>50</option><option selected>100</option></select> records.<div>
	    		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" force-ellipses="true" rotate="false"></uib-pagination>
			</div>
			<hr>
			<br>
			<!-- new, edit and delete buttons -->
			<div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<input class="btn btn-default btn-sm" type="button" value="New"
					ng-click="setOperation('new')"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'"> <input
					class="btn btn-default btn-sm" type="button" value="Edit"
					ng-click="setOperation('update')"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'"> <input
					class="btn btn-default btn-sm" type="button" value="Delete"
					ng-click="delete()"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'">
					
					<input
 					class="btn btn-primary btn-sm" type="button" value="Generate Project"
 					ng-click="generateProject()"
 					ng-disabled="!selectedEntry">
			</div>
			<br><br><br>
			<div>
				<!-- input form -->
				<div>
				  
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>#</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.sol_id" readonly>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Name</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.sol_name"
						ng-readonly="operation == 'show'" required="required">
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Description</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_description" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>Date</label>
					<p class="input-group">
		            	<input type="text" ng-model="selectedEntry.sol_date" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-required ng-touched" 
		               		uib-datepicker-popup="" is-open="sol_dateStatus.opened" 
		               		datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" 
		               		required="required" style="" ng-readonly="operation == 'show'">
				        <span class="input-group-btn">
				        	<button type="button" class="btn btn-default" ng-click="sol_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
		           	</p>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Area</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.sol_area"
						ng-readonly="operation == 'show'" required="required">
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>In Scope</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_in_scope" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Out of Scope</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_out_scope" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Key Deliverables</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_key_deliverables" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Targets</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_targets" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Timeline</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.sol_timeline"
						ng-readonly="operation == 'show'" required="required">
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Teams</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_teams" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Financials</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.sol_financials"
						ng-readonly="operation == 'show'" required="required">
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Constraints</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_constraints" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label>Risks</label>
					<textarea class="form-control" 
						ng-model="selectedEntry.sol_risks" cols="50" rows="5" 
						ng-readonly="operation == 'show'" required="required"></textarea>
				  </div>
				</div>
				
				<!-- save and cancel buttons -->
				<div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br>
					<input class="btn btn-primary btn-sm" type="button" value="Save" ng-show="operation == 'new' || operation == 'update'"
						ng-click="confirmAction()"> 
					<input class="btn btn-default btn-sm" type="button" value="Cancel" ng-show="operation == 'new' || operation == 'update'"
						ng-click="cancelAction()">
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('ManageController', function ($scope, $http) {
			
			var url = '../../../js/zeus/solutions//solutions.js';
			var urlProject = '../../../js/zeus/projects/projects.js';

			$http.get(url)
				.success(function(data){
					$scope.data = data;
				});
			
			/* ---- Uncomment and configure in case of using dropdown or list widgets in the form above  ----
			
			var urlRefs = 'ENDPOINT_OF_THE_REFS_SERVICE'; // e.g. '../../js/mypackage/mytypes.js'
				
			$http.get(urlRefs)
				.success(function(refs){
					$scope.refs = refs;
				});
			*/
			
			$scope.selectedEntry;
            $scope.operation = 'show';
            $scope.errorMessage = null;
			
			$scope.showInfoForEntry = function(entry) {
				if($scope.operation==='show'){
					if($scope.selectedEntry === entry){
						$scope.showEntry = false;
						$scope.selectedEntry = null;
						entry._selected_ = false;
					}else{
						for(var i = 0 ; i < $scope.data.length; i ++){
							$scope.data[i]._selected_ = false;
						}
						entry._selected_ = true;
						$scope.showEntry = true;
						$scope.selectedEntry = entry;
					}
				}
			};
					
			$scope.setOperation = function(operation) {
                      switch (operation) {
                          case 'new':
                              if ($scope.operation !== 'new') {
                            	  $scope.selectedEntry = null;
                                  $scope.operation = 'new';
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          case 'update':
                               if ($scope.operation !== 'update') {
                              	 if ($scope.selectedEntry) {
                                       $scope.operation = 'update';
                                   } else {
                                       alert("Please first select entry for updated");
                                       $scope.operation = 'show';
                                   }
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          case 'delete':
                              if ($scope.operation !== 'delete') {
                                  $scope.operation = 'delete';
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          default:
                              $scope.operation = 'show';
                              break;
                       }
            };
                   
            $scope.confirmAction = function() {
                switch($scope.operation){
                    case 'show':
                        break;
                    case 'new':
                        newEntry($scope.selectedEntry);
                        break;
                    case 'update':
                        updateEntry($scope.selectedEntry);
                        break;
                }
            };

            $scope.cancelAction = function() {
                refreshData();
            };

			$scope.delete = function() {
        	   	if($scope.selectedEntry) {
                 	var confirmed = confirm('Do you realy want to delete the selected entry?');
	               	if(confirmed) {
	                   	delete $scope.selectedEntry._selected_;
	                       deleteEntry($scope.selectedEntry);
	                       $scope.operation = 'show';
	               	}                    	
               	} else {
                   	alert('Please select row from the table.');
				}
			};
                    
			function newEntry(entry){
				delete $scope.selectedEntry._selected_;
				$http.post(url, entry)
				.success(function(){
					refreshData();
					$scope.selectedEntry = null;
                    $scope.operation = 'show';
                    $scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
			
			function updateEntry(entry){
				delete $scope.selectedEntry._selected_;
				$http.put(url, entry)
					.success(function(){
						refreshData();
	                    $scope.operation = 'show';
	                    $scope.errorMessage = null;
					})
					.error(function(response){
						$scope.errorMessage = response.err.message;
					});
			}

			function deleteEntry(entry){
				var primaryKey;
				primaryKey = "sol_id";
				var deleteUrl = url+"?"+primaryKey+"="+entry[primaryKey];
				$http.delete(deleteUrl)
				.success(function(){
					refreshData();
                    $scope.selectedEntry = null;
					$scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
                    
			function refreshData(){
				$http.get(url)
				.success(function(data){
					$scope.data = data;
                    $scope.selectedEntry = null;
                    $scope.operation = 'show';
                    $scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
			
			$scope.dateOptions = {
				startingDay: 1
			};
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];

			$scope.sol_dateOpen = function($event) {
				$scope.sol_dateStatus.opened = true;
			};
			$scope.sol_dateStatus = {
				opened: false
			};
			
			
			//pagination
			$scope.viewby = 100;
			var urlCount = url + '?count';
			$http.get(urlCount)
				.success(function(count){
					$scope.totalItems = count;
				});
				
				$scope.currentPage = 1;
				$scope.itemsPerPage = $scope.viewby;
				$scope.maxSize = 5;
			
			$scope.setPage = function (pageNo) {
			    $scope.currentPage = pageNo;
			    $scope.pageChanged();
			};
			
			$scope.pageChanged = function() {
				var urlLimit = url + '?offset=' + ($scope.viewby*($scope.currentPage-1) + '&limit=' + $scope.viewby);
				$http.get(urlLimit)
					.success(function(data){
						$scope.data = data;
					});
			};
			
			$scope.setItemsPerPage = function(num) {
			  	$scope.itemsPerPage = num;
			  	$scope.setPage(1);
			};
			
			$scope.generateProject = function() {
 				var project = {};
 				project.project_name = $scope.selectedEntry.sol_name;
 				project.project_sol_id = $scope.selectedEntry.sol_id;
 				$http.post(urlProject, project)
 				.success(function(){
                     $scope.successMessage = "Project has beeen generated successfuly.";
 				})
 				.error(function(response){
 					$scope.errorMessage = response.err.message;
 				});
 			};
 
		});
		
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
